// app global css in SCSS form
$_red:red;
.redColor {
  color: $_red;
}
.clrRed {
	color: $negative;
}
.clrGreen {
	color: $positive;
}
.tbox-pd {
  padding-top: 4px;
  padding-left: 4px;
}
.miniBtn-pd {
  padding-top: 8px;
  padding-left: 4px;
}
.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}